/* 确保全屏布局 */
html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* 页面主容器 */
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* 左上角控制面板 */
.time-selector-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  /* 垂直排列 */
  gap: 5px;

  /* 两个日期选择框之间的间隔 */
  width: 280px;

  /* 设置面板的宽度 */
  height: 280px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  /* 设置面板的高度 */
}

.time-selector-box h3 {
  margin-bottom: 8px;
  font-size: 16px;
}

.time-selector-box input[type="date"] {
  padding: 5px;
  margin-right: 10px;
}

.time-selector-box button {
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

.time-selector-box button:hover {
  background-color: #0056b3;
}

/* 提取结果选择面板 */
.image-selector-box {
  position: absolute;
  top: 10px;
  left: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
  height: 300px;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  /* 根据内容自动调整高度 */
}

/* 确保每个 option 不会压缩 */
option {
  white-space: nowrap;

  /* 防止文件名被压缩到一行 */
}

/* Cesium容器样式 */
.cesium-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1); */
}

/* ECharts 图表样式 */
.chart-container {
  width: 100%;
  height: 100%;
}

.responsive-image {
  display: block;
  width: auto;
  height: 91%;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* 标题样式 */
.title {
  padding-bottom: 8px;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #002060;
  text-align: left;
  border-bottom: 2px solid #000;
}

/* Echart弹框的位置 */
.modal {
  position: absolute;
  top: 330px;
  left: 10px;
  display: flex;
  width: 500px;
  height: 450px;
  background-color: rgb(0 0 0 / 50%);
}

.modal-content {
  padding: 20px;
  background: white;
  border-radius: 10px;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;

  /* 将元素居中 */
  padding: 20px;
  font-size: 20px;

  /* 半透明背景 */
  color: white;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 5px;
  transform: translate(-50%, -50%);

  /* 确保 loading 层位于其他内容之上 */
}
